html{
      font-family: "Helvectica", sans-serif;
      height: 100%;
      font: inherit;
      margin: 0;
      padding: 0;
      border: 0;
      vertical-align: baseline;
}

/*display as block*/

header, body, nav {
	display: block;
}

body{
	background-color: #e9e9e9;
	font-family: "Helvectica", sans-serif;
}

nav{
	background-color: powderblue;
	font-family: "Helvectica", sans-serif;
	height: 200%;
}

header{
	background-color: #E6E6FA;
	font-family: "Helvectica", sans-serif;
	text-align: left;
}

ul{
	font-family: "Helvectica", sans-serif;
}
