html{
      background-color: powderblue;
      font-family: "Helvectica", sans-serif;
      height: 100%;
      font: inherit;
      margin: 0;
      padding: 0;
      border: 0;
      vertical-align: baseline;
}

/*display as block*/

header, body {
	display: block;
}

body{
	background-color: powderblue;
	font-family: "Helvectica", sans-serif;
}

header{
	background-color: #E6E6FA;
	font-family: "Helvectica", sans-serif;
	text-align: left;
}

ul{
	font-family: "Helvectica", sans-serif;
}
