/*Grey background, black text*/

html {
      background-color: #e6e6fa;
      font-family: "Helvectica", sans-serif;
      font-size: 100%;
      font: inherit;
      margin: 0;
      padding: 0;
      border: 0;
      vertical-align: baseline;
}

/*display as block*/

header, div, nav, section, footer {
	display: block;
}

body {
	line-height: 1;
}

h1 {
	background-color: #e6e6fa;
	font-family: "Helvectica", sans-serif;
	text-align: left;
}

ul {
	font-family: "Helvectica", sans-serif;
}
